.sidemenu_wrapper {
  display: flex;
  margin-top: 5rem;

  /* top: 0; */
}
main {
  width: 100%;
  padding: 20px;
}
.sidemenu {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 300px;
  position: fixed;
  transition: all 0.5s ease-in-out;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.bars {
  display: flex;
  font-size: 25px;
  /* margin-left: 10px; */
}
.toggle {
  cursor: pointer;
}
.logo {
  font-size: 30px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 15px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
}
